<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="card mb-4">
    <div class="card-body">
      <%= render @post %>
    </div>
  </div>

  <div class="d-flex flex-column gap-4">
    <div class="d-flex gap-2">
      <%= button_to "Like (#{@post.like_count})", post_likes_path(@post), method: :post, class: "btn btn-primary" %>
      
      <%= button_to "Edit this post", edit_post_path(@post), method: :get, class: "btn btn-secondary" %>      
      <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this post?" } %>
    </div>
    <%= button_to "Back to posts", posts_path, class: "btn btn-outline-primary", method: :get %>
    
  </div>
</div>
